body {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://i.kym-cdn.com/entries/icons/mobile/000/014/675/dankey.jpg')
  
}

#loading-gif {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 800px;
  margin-left: auto;
  margin-right: auto;

}

.logo {
  display: block;
  margin: 20px auto 20px auto;
  filter: drop-shadow(0 0 0.50rem rgb(0, 0, 0));
}


#new-game-btn{
  display: block;
  width: 150px;
  height: 35px;
  border-radius: 5px;
  border: 2px solid;
  margin: 0px auto 20px auto;
  cursor: pointer;
  font-family: Helvetica, sans-serif;
  color: #ffffff;
  background-color: #060ce9;
  filter: drop-shadow(0 0 0.50rem rgb(0, 0, 0));
}

.table {

  color: white;
  text-shadow: 2px 2px 2px black;
  text-align: center;
  vertical-align: middle;
}

.table thead {
  font-family: Helvetica, sans-serif;
}

.table tbody {
  font-family: 'Stoke', serif;
  font-size: .5rem;
}

.table th {
  width: 16.67%;
  height: 75px;
  border: 2px solid black;
  cursor: default;
}

.game-square {
  width: 16.67%;
  height: 90px;
  cursor: pointer;
  background-color: #060ce9;
  border: 2px solid black;
}


.answered {
  background-color: #46e411;
  cursor: default;
}

.hidden {
  display: none;
}

.showing {
  display: inline-block;
  margin: auto;
}

.fa-question-circle-o {
  font-size: 3rem;
  color: #FFCC00;
}